.Login{
    background-color: #f2f2f2;
    height: 110vh;

    .login-image {
        height: 350px;
        width: 350px;
        margin-right: 1500px;
        margin-top: 0px;
        margin-bottom: -200px;
    }

    &__text1{
        margin-bottom: 0px;
        margin-left: -120px;
        font-weight: 600;
    }

    &__text2{
        margin-bottom: 0px;
        margin-left: -90px;
        font-weight: 600;
    }
    .GOOGLE button{
        background-image: linear-gradient(to right, #c0c0c0, white);
        border-style: solid;
        font-weight: 700;
        font-size: 0.9375rem;
        box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
        margin-right: 0px;
        padding: 11px 100px 11px 100px;
        color: #ffffff;
        border-radius: 5%;
        text-transform: uppercase;
    }

    button.GOOGLE div {
        background-color: #f2f2f2 !important;
        display: none;
        border-radius: 25px;
    }

    .GOOGLE {
        background-color: rgb(110, 109, 109) !important;
        border-style: solid;
        color: #ffffff;
        width: 30vw;
        margin-top: 10px;
        height: 4.5vh;
        text-align: center !important;
        border-radius: 10px !important;
        border: 5px;
    }
    .GOOGLE span {
        font-size: 0.9vw !important;
        color: #ffffff;
        font-family: Helvetica,sans-serif !important;
        font-weight: 600 !important;

        margin: auto;
    }


    .login-form {
        position: relative;
        margin: 8% auto;
        margin-top: 100px;
        margin-bottom: 112px;
        min-height: 40%;
        width: 30%;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
        padding: 0px 0px 5px 15px;
        box-sizing: border-box;
        border-radius: 8px;
    }

    input {
        display: block;
        margin-left: 110px;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 10px;
        width: 60%;
        height: 10%;
        box-sizing: border-box;
        border: none;
        outline: none;
        border-bottom: 1px solid #aaa;
        font-size: 14px;
        border-radius: 4%;
    }

    .submit {
        margin-top: 10px;
        margin-bottom: 10px;

        background: rgb(80, 85, 90);
        color: white;
        width: 29%;
        height: 10%;
        padding: 8px;
        border: none;
        border-radius: 5px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 500;
        text-align: center;
    }

  }
