.Register{
  background-color: #f2f2f2;

  .login-image {
    height: 350px;
    width: 350px;
    margin-right: 1500px;
    margin-top: 0px;
    margin-bottom: -200px;
  }


  .account {
    font-weight: bolder;
    font-size: 1.875rem;
    color: #494848;
  }

  .register-form {
    position: relative;
    margin: 8% auto;
    margin-top: 60px;
    margin-bottom: 112px;
    min-height: 40%;
    width: 30%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
    padding: 0px 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 8px;
  }

  input {
    display: block;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px;
    width: 60%;
    height: 10%;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-size: 14px;
    border-radius: 4%;
  }

  .submit {
    margin-top: 10px;
    margin-bottom: 10px;

    background: rgb(80, 85, 90);
    color: white;
    width: 30%;
    height: 10%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
  }

}