.sidebar {
  position: fixed;
  top: 98px;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #f2f2f2;

  &__logo {
    display: grid;
    place-items: center;
    height: 120px;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Mochiy Pop P one', sans-serif;
  }
  &__logout{
    position: fixed;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 280px;
    margin-left: -60px;
    background-color: #f2f2f2;
    border: none;
    color: #494848;
    padding: 3px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    cursor: pointer;
    border-radius: 5px;
  }

  &__logout:hover{
    border: 3px solid #6e6d6d;
  }
  &__menu {
    position: relative;

    &__item {
      display: flex;
      align-items: center;
      place-content: flex-start;
      padding: 1rem 3rem;
      font-size: 1.25rem;
      font-weight: 700;
      color: #555555;
      transition: color 0.3s ease-in-out;

      &.active {
        color: #fff;
      }

      &__icon {
        margin-right: 1rem;

        i {
          font-size: 1.75rem;
        }
      }

      &__button {
        background-color: #f2f2f2;
        border: none;
        color: #494848;
        padding: 3px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        font-size: 16px;
        margin: auto;
        cursor: pointer;
        border-radius: 5px;
      }

      &__button:hover{
        border: 3px solid #6e6d6d;
      }
    }

    &__indicator {
      position: absolute;
      top: 0;
      left: 50%;
      width: calc(100% - 40px);
      border-radius: 10px;
      z-index: -1;
      transform: translateX(-50%);
      transition: 0.3s ease-in-out;
    }

  }
}