.day-names {
    font-size: 20px;
}

.calendar {
    background-color: #ffffff;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(7, minmax(8px, 1fr));
    border-bottom: 2px solid #e7e7e7;
    border-left  : 2px solid #e7e7e7;
}

.borderless {
    border: 0;
}

.calendar h5 {
    margin: 0;
    padding: 10px;
    text-align: right;
    color: #3d3d3d;
}

