.u-section-1 {
    min-height: 1166px;
}

.u-section-1 .u-sheet-1 {
    min-height: 581px;
}

.u-section-1 .u-text-1 {
    font-weight: 400;
    font-size: 3rem;
    margin: 30px auto 0 504px;
}

.u-section-1 .u-btn-1 {
    background-image: linear-gradient(to right, #c0c0c0, white);
    border-style: solid;
    font-weight: 700;
    font-size: 0.9375rem;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    margin: 52px auto 0 298px;
    padding: 11px 157px 11px 155px;
}

.u-section-1 .u-form-1 {
    height: 254px;
    width: 570px;
    margin: 26px 285px 60px;
}

.u-section-1 .u-btn-2 {
    letter-spacing: 0px;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
}

#login-icon {
    left: 365px;
    top: -10px;
    height:400px;
    width: 400px;
}

#google-account {
    left: 288px;
    top: -20px;
    height: 40px;
    width: 540px;
}

#login-button{
    left: 135px;
    top: 50px;
    height: 50px;
    width: 150px;   
}

@media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
        margin-left: 416px;
    }

    .u-section-1 .u-btn-1 {
        margin-left: 98px;
    }

    .u-section-1 .u-form-1 {
        margin-left: 185px;
        margin-right: 185px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-text-1 {
        margin-left: 319px;
    }

    .u-section-1 .u-btn-1 {
        margin-left: 0;
    }

    .u-section-1 .u-form-1 {
        margin-left: 75px;
        margin-right: 75px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-text-1 {
        margin-left: 239px;
    }

    .u-section-1 .u-form-1 {
        width: 540px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-text-1 {
        margin-left: 350px;
    }

    .u-section-1 .u-form-1 {
        width: 340px;
    }
}