.u-section-1 {
    min-height: 1002px;
}

.u-section-1 .u-shape-1 {
    width: calc(((100% - 1140px) / 2) + 195px);
    left: 0;
    right: auto;
}

.u-section-1 .u-icon-1 {
    width: 35px;
    height: 35px;
    margin: 10px auto 0 calc(((100% - 1140px) / 2) + -35px);
}

.u-section-1 .u-text-1 {
    font-size: 2.25em;
    font-weight: 700;
    margin: 30px 20px 70px calc(((100% - 165px) / 2) + 23px);
}

.u-section-1 .u-icon-2 {
    width: 31px;
    height: 31px;
    background-image: none;
    margin: 35px auto 0 calc(((100% - 1140px) / 2) + -35px);
}

.u-section-1 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin: -31px auto 0 calc(((100% - 350px) / 2) + 11px);
    padding: 0 31px 1px 29px;
}

.u-section-1 .u-text-2 {
    font-weight: 700;
    margin: 18px 30px 30px calc(((100% - 350px) / 2) + 233px);
}

.u-section-1 .u-icon-3 {
    width: 30px;
    height: 30px;
    background-image: none;
    margin: -8px auto 0 calc(((100% - 1140px) / 2) + -34px);
}

.u-section-1 .u-btn-2 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin: 29px -270px 0 calc(((100% - 1140px) / 2) + 12px);
    padding: 0 39px 0 38px;
}

.u-section-1 .u-text-3 {
    margin: -100px calc(((100% - 1450px) / 2) + 215px) 0 calc(((100% - 1140px) / 2) + 233px);
}

.u-section-1 .u-icon-4 {
    width: 30px;
    background-image: none;
    height: 30px;
    margin: -13px auto 0 calc(((100% - 1140px) / 2) + -34px);
}

.u-section-1 .u-btn-3 {
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin: -28px auto 0 calc(((100% - 1140px) / 2) + 12px);
    padding: 0 44px 0 43px;
}

.u-section-1 .u-btn-4 {
    border-style: none none solid;
    font-weight: 700;
    margin: -1px calc(((100% - 1140px) / 2) + 112px) 0 auto;
    padding: 0;
}

.u-section-1 .u-btn-5 {
    border-style: none none solid;
    font-weight: 700;
    margin: -26px calc(((100% - 1140px) / 2) + 35px) 0 auto;
    padding: 0;
}

.u-section-1 .u-line-1 {
    width: 881px;
    height: 3px;
    transform-origin: left center 0px;
    margin: 11px calc(((100% - 1140px) / 2) + 26px) 0 auto;
}

.u-section-1 .u-text-4 {
    margin: -2px auto 0 calc(((100% - 80px) / 2) + 20px);
}

.u-section-1 .u-image-1 {
    width: 200px;
    height: 200px;
    margin: 32px calc(((100% + 400px) / 2)) -180px auto;
}

.u-section-1 .u-btn-6 {
    font-weight: 700;
    font-size: 0.9375rem;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    border-style: none;
    background-image: none;
    margin: -585px auto 0 calc(((100% - 1140px) / 2) + 29px);
    padding: 7px 27px 7px 26px;
}

.u-section-1 .u-icon-5 {
    font-size: 0.7em;
}

.u-section-1 .u-btn-7 {
    font-weight: 700;
    font-size: 0.9375rem;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    border-style: none;
    background-image: none;
    margin: 32px auto 0 calc(((100% - 1140px) / 2) + 29px);
    padding: 6px 22px 8px 21px;
}

.u-section-1 .u-icon-6 {
    font-size: 0.7em;
    width: 11px;
    height: 14px;
}

.u-section-1 .u-btn-8 {
    font-weight: 700;
    font-size: 0.9375rem;
    box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
    border-style: none;
    background-image: none;
    margin: 26px auto 0 calc(((100% - 1140px) / 2) + 29px);
    padding: 6px 14px 7px 12px;
}

.u-section-1 .u-icon-7 {
    font-size: 0.7em;
}

.u-section-1 .u-text-5 {
    font-weight: 700;
    margin: 70px -150px 60px calc(((100% - 1140px) / 2) + 29px);
}

@media (max-width: 1199px) {
    .u-section-1 .u-shape-1 {
        width: calc(((100% - 940px) / 2) + 195px);
    }

    .u-section-1 .u-icon-1 {
        margin-left: calc(((100% - 940px) / 2) + -35px);
    }

    .u-section-1 .u-text-1 {
        margin-left: calc(((100% - 940px) / 2) + 23px);
    }

    .u-section-1 .u-icon-2 {
        margin-left: calc(((100% - 940px) / 2) + -35px);
    }

    .u-section-1 .u-btn-1 {
        margin-left: calc(((100% - 300px) / 2));
    }

    .u-section-1 .u-text-2 {
        margin-left: calc(((100% - 940px) / 2) + 233px);
    }

    .u-section-1 .u-icon-3 {
        margin-left: calc(((100% - 940px) / 2) + -34px);
    }

    .u-section-1 .u-btn-2 {
        margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-text-3 {
        margin-right: calc(((100% - 940px) / 2) + 115px);
        margin-left: calc(((100% - 940px) / 2) + 133px);
    }

    .u-section-1 .u-icon-4 {
        margin-left: calc(((100% - 940px) / 2) + -34px);
    }

    .u-section-1 .u-btn-3 {
        margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-btn-4 {
        margin-right: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-btn-5 {
        margin-right: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-line-1 {
        margin-right: calc(((100% - 940px) / 2) + 26px);
    }

    .u-section-1 .u-text-4 {
        margin-left: calc(((100% - 940px) / 2) + 20px);
    }

    .u-section-1 .u-image-1 {
        margin-right: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-btn-6 {
        margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-btn-7 {
        margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-btn-8 {
        margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-1 .u-text-5 {
        margin-left: calc(((100% - 940px) / 2) + 29px);
    }
}

@media (max-width: 991px) {
    .u-section-1 {
        min-height: 880px;
    }

    .u-section-1 .u-shape-1 {
        width: calc(((100% - 720px) / 2) + 195px);
    }

    .u-section-1 .u-icon-1 {
        margin-left: calc(((100% - 720px) / 2) + -35px);
    }

    .u-section-1 .u-text-1 {
        margin-left: calc(((100% - 720px) / 2) + 23px);
    }

    .u-section-1 .u-icon-2 {
        margin-left: calc(((100% - 720px) / 2) + -35px);
    }

    .u-section-1 .u-btn-1 {
        margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-text-2 {
        margin-left: calc(((100% - 720px) / 2) + 233px);
    }

    .u-section-1 .u-icon-3 {
        margin-left: calc(((100% - 720px) / 2) + -34px);
    }

    .u-section-1 .u-btn-2 {
        margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-text-3 {
        margin-right: calc(((100% - 720px) / 2) + 5px);
        margin-left: calc(((100% - 720px) / 2) + 23px);
    }

    .u-section-1 .u-icon-4 {
        margin-left: calc(((100% - 720px) / 2) + -34px);
    }

    .u-section-1 .u-btn-3 {
        margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-btn-4 {
        margin-right: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-btn-5 {
        margin-right: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-line-1 {
        width: 720px;
        margin-right: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-text-4 {
        margin-left: calc(((100% - 720px) / 2) + 20px);
    }

    .u-section-1 .u-image-1 {
        width: 120px;
        height: 186px;
        margin-right: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-btn-6 {
        margin-top: -463px;
        margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-btn-7 {
        margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-btn-8 {
        margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-1 .u-text-5 {
        margin-left: calc(((100% - 720px) / 2) + 29px);
    }
}

@media (max-width: 767px) {
    .u-section-1 {
        min-height: 759px;
    }

    .u-section-1 .u-shape-1 {
        width: calc(((100% - 540px) / 2) + 195px);
    }

    .u-section-1 .u-icon-1 {
        margin-left: calc(((100% - 540px) / 2) + -35px);
    }

    .u-section-1 .u-text-1 {
        margin-left: calc(((100% - 540px) / 2) + 23px);
    }

    .u-section-1 .u-icon-2 {
        margin-left: calc(((100% - 540px) / 2) + -35px);
    }

    .u-section-1 .u-btn-1 {
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-text-2 {
        margin-left: calc(((100% - 540px) / 2) + 175px);
    }

    .u-section-1 .u-icon-3 {
        margin-left: calc(((100% - 540px) / 2) + -34px);
    }

    .u-section-1 .u-btn-2 {
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-text-3 {
        margin-right: calc(((100% - 540px) / 2));
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-icon-4 {
        margin-left: calc(((100% - 540px) / 2) + -34px);
    }

    .u-section-1 .u-btn-3 {
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-btn-4 {
        margin-right: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-btn-5 {
        margin-right: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-line-1 {
        width: 540px;
        margin-right: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-text-4 {
        margin-left: calc(((100% - 540px) / 2) + 20px);
    }

    .u-section-1 .u-image-1 {
        width: 140px;
        height: 165px;
        margin-right: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-btn-6 {
        margin-top: -324px;
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-btn-7 {
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-btn-8 {
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-1 .u-text-5 {
        margin-left: calc(((100% - 540px) / 2) + 29px);
    }
}

@media (max-width: 575px) {
    .u-section-1 {
        min-height: 304px;
    }

    .u-section-1 .u-shape-1 {
        width: calc(((100% - 340px) / 2) + 195px);
    }

    .u-section-1 .u-icon-1 {
        margin-left: calc(((100% - 340px) / 2) + -35px);
    }

    .u-section-1 .u-text-1 {
        margin-left: calc(((100% - 340px) / 2) + 23px);
    }

    .u-section-1 .u-icon-2 {
        margin-left: calc(((100% - 340px) / 2) + -35px);
    }

    .u-section-1 .u-btn-1 {
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-text-2 {
        margin-left: calc(((100% - 340px) / 2) + 110px);
    }

    .u-section-1 .u-icon-3 {
        margin-left: calc(((100% - 340px) / 2) + -34px);
    }

    .u-section-1 .u-btn-2 {
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-text-3 {
        margin-right: calc(((100% - 340px) / 2));
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-icon-4 {
        margin-left: calc(((100% - 340px) / 2) + -34px);
    }

    .u-section-1 .u-btn-3 {
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-btn-4 {
        margin-right: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-btn-5 {
        margin-right: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-line-1 {
        width: 340px;
        margin-right: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-text-4 {
        margin-left: calc(((100% - 340px) / 2) + 20px);
    }

    .u-section-1 .u-image-1 {
        width: 140px;
        height: 130px;
        margin-right: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-btn-6 {
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-btn-7 {
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-btn-8 {
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-1 .u-text-5 {
        margin-left: calc(((100% - 340px) / 2) + 29px);
    }
}